<a href="https://colab.research.google.com/github/PasulaPavani/Python/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#1.Write a python program to convert a string to lower case

x=input("Please enter a word that you wish to convert to lower case : ")
print(x.lower())

Please enter a word that you wish to convert to lower case : InnomAtiCs
innomatics

In [5]:
#2.Write a python program to convert only odd indexed characters to lower case

b=input("Please enter a word to convert the odd index letters to lower case : ")
a=""
for x in range(0,len(b)):
    if x%2==0:
        a+=str(b[x])
    else:
        a+=str(b[x]).lower()
print(a)

Please enter a word to convert the odd index letters to lower caseDECATHLON
DeCaThLoN

In [7]:
#3.Write a python program to convert only even indexed characters to lower case
#Ex:- PYTHON Output: - pYtHoN

b=input("Please enter a word to convert the even index letters to lower case :")
a=""
for x in range(0,len(b)):
    if x%2==0:
        a+=str(b[x]).lower()
    else:
        a+=str(b[x])
print(a)

Please enter a word to convert the even index letters to lower caseDECAthLoN
dEcAthlon

In [9]:
#4.Write a python program to convert only odd indexed characters to upper case
#Ex:- python Output: - pYtHoN

b=input("Please enter a word to convert the odd index letters to upper case : ")
a=""
for x in range(0,len(b)):
    if x%2==0:
        a+=str(b[x])
    else:
        a+=str(b[x]).upper()
print(a)

Please enter a word to convert the odd index letters to upper caseDecATHloN
DEcATHlON

In [11]:
#5.Write a python program to convert only even indexed characters to upper case
#Ex:- python Output: - PyThOn

b=input("Please enter a word to convert the even index letters to upper case : ")
a=""
for x in range(0,len(b)):
    if x%2==0:
        a+=str(b[x]).upper()
    else:
        a+=str(b[x])
print(a)

Please enter a word to convert the even index letters to upper case : INNOmatiCs
INNOMaTiCs

In [12]:
#6.Write a python program where you have different variable which contains
#your name ,gender,age, phone no ,fathers name and mothers name.And by using this variable create a
#variable named bio-data where you will use all this variable
#Ex:-print(bio-data)
#Output:- My name is ...., My age is ....,My phone-no is ....,my fathers name is ...,and my mothers name is......

name=input("Please enter your name: ")
gender=input("Please enter your gender: ")
age=int(input("Please enter your age: "))
phno=int(input("Please enter your phone number: "))
father_name=input("Please enter your father's name: ")
mother_name=input("Please enter you mother's name: ")
bio_data="My name is {}, My gender is {}, My age is {}, My phone number is {}, My father's name is {}, My mother's name is {}"
print(bio_data.format(name,gender,age,phno,father_name,mother_name))

Please enter your name: Pasula Pavani
Please enter your gender: Female
Please enter your age: 24
Please enter your phone number: 9876543210
Please enter your father's name: P Venkataiah
Please enter you mother's name: P Kavitha
My name is Pasula Pavani, My gender is Female, My age is 24, My phone number is 9876543210, My father's name is P Venkataiah, My mother's name is P Kavitha

In [13]:
#7.Write a python program to count how many times “@” occurred

x=input("Please enter a string to know the number of times '@' occurred ")
print("@ occurred "+str(x.count("@"))+" number of times")

Please enter a string to know the number of times '@' occurred q@w@e@$RT@u@890
@ occurred 5 number of times

In [15]:
#8.Write a python program to get only names from the string “name1.@gmail.com,name2.@gmail.com,name3.@gmail.com”
#Output-name1,name2,name3

x="name1.@gmail.com,name2.@gmail.com,name3.@gmail.com"
y=x.split(".@gmail.com")
a=""
for x in range(0,3):
    a+=y[x]
print(a)

name1,name2,name3

In [18]:
#9.Given a string of odd length greater that 9, return a new string made of the middle three characters of a given String
#Ex:- “mynameissan
#Output:- “mei”

x=input("Enter a string of odd length greater than 9: ")
if len(x)<=9:
  print("Please enter a string of odd length greater than 9")
else:

  y=(len(x)+1)//2
  print(x[(y-2):(y+1)])

Enter a string of odd length greater than 9: qwedcxzasfg
cxz

In [21]:
#10. Write a python program to insert a 2 string in the middle of 1 string
#Ex:-Str1=”myn”
#Str2=”sa” Output:-“msayn”

x=input("Please enter a string : ")
y=input("Enter a string of 2 characters you want to insert in the middle  : ")
z=len(x)//2
print(x[:z]+y+x[z:])

Please enter a string : qweruiop
Enter a string of 2 characters you want to insert in the middle  : ty
qwertyuiop

In [27]:
#11. Write a program to remove vowels from the entire alphabets
#Ex:- “abcdefghijklmnopqrstuvwxyz” Output:- “bcdfghjklmnpqrstvwxyz

x=str(input("Enter a string: "))
a=""
for i in range(0,len(x)):
    if x[i]=="a" or x[i]=="e" or x[i]=="i" or x[i]=="o" or x[i]=="u" or x[i]=="A" or x[i]=="E" or x[i]=="I" or x[i]=="O" or x[i]=="U":
        a+=""
    else:
        a+=(x[i])
print(a)

Enter a string: qwertyuiopasdfghjkl
qwrtypsdfghjkl